.frameContainer {
  display: flex;
  justify-content: center;
  grid-area: content;
  zoom: 0.6;

  @media (min-width: 768px) {
    zoom: 1;
  }

  @media (min-width: 768px) and (max-width: 1119px) and (max-height: 500px) {
    zoom: 0.5;
  }
}

.outerFrame {
  position: relative;
  overflow: hidden;
  min-width: 520px;
  max-width: 920px;
}
